@tailwind base;
@tailwind components;
@tailwind utilities;
@media screen and (max-width: 768px) {
  .first-box {
    display: flex;
    height: 100vh;
    width: 100vw;

  }  
}

@media screen and (min-width: 768px) {
  .first-box {
    display: flex;
    height: 100vh;
    width: 100vw;
    .person-introduction {
      @apply p-10 flex flex-col justify-between;
      width: 40%;
      background: url('./img/bg.jpg') no-repeat;
      background-size: 100% 100%;
    }
    .related-introductions {
      flex: 1;
      .technical-introduction {
        @apply p-10 flex flex-col justify-center text-2xl text-black;
        height: 50%;
        background-color: #FEE880;
      }
      .contact-way {
        height: 50%;
      }
    }
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
